Python/big-pitch/venv
Python/big-pitch/setup_env.bat
Python/big-pitch/setup.sh
Python/big-pitch/requirements.txt
Python/big-pitch/export/Modelling_data (Filtered, Synchronised Attained_Age and Grouped by Selected Features).parquet
Python/big-pitch/export/ILEC_2012_19 - 20240429 (Filtered, Synchronised Attained_Age and Grouped by Selected Features).parquet
Python/big-pitch/export/ILEC_2012_19 - 20240429 (Filtered, Grouped by All Features and Synchronised Attained_Age).parquet
Python/big-pitch/export/ILEC_2012_19 - 20240429 (Filtered, Grouped by All Features and Synchronised Attained_Age).parquet
Python/big-pitch/export/ILEC_2012_19 - 20240429 (Filtered, Synchronised Attained_Age and Grouped by Selected Features) V2.parquet
Python/big-pitch/export/ILEC_2012_19 - 20240429 (Filtered and Grouped by All Features).parquet
Python/big-pitch/export/ILEC_2012_19 - 20240429 (Filtered).parquet
Python/big-pitch/export/ILEC_2012_19 - 20240429 (Filtered)_v2.parquet
Python/big-pitch/export/ILEC_2012_19 - 20240429 (Filtered and Grouped by All Features)_v2.parquet
Python/big-pitch/export/ILEC_2012_19 - 20240429 (Filtered Grouped by Selected Features)_v2.parquet
Python/big-pitch/export/Modelling_data (Filtered and Grouped by Selected Features)_v2.parquet
Python/big-pitch/export/Single Factor Model Predictions_v2.parquet
Python/big-pitch/export/Single Factor Model Predictions_v3.parquet
Python/big-pitch/export/Single Factor Model Predictions.parquet
Python/big-pitch/export/Single Factor Model Predictions_cy_split.parquet
Python/big-pitch/export/XGB Model Predictions_v3.parquet
Python/big-pitch/export/XGB Model Predictions_cy_split.parquet
Python/big-pitch/export/ILEC_2012_19_aggregated_20260123.parquet
Python/big-pitch/export/Final Model Predictions_v3.parquet
Python/big-pitch/export/Final Model Predictions_v4.parquet

Python/big-pitch/export/Modelling_data (Filtered and Grouped by Selected Features)_ml.parquet
Python/big-pitch/input/ILEC_2012_19 - 20240429.txt
testing