python/big-pitch/venv
python/big-pitch/setup_env.bat
python/big-pitch/requirements.txt
python/big-pitch/export/Modelling_data (Filtered, Synchronised Attained_Age and Grouped by Selected Features).parquet
python/big-pitch/export/ILEC_2012_19 - 20240429 (Filtered, Synchronised Attained_Age and Grouped by Selected Features).parquet
python/big-pitch/export/ILEC_2012_19 - 20240429 (Filtered, Grouped by All Features and Synchronised Attained_Age).parquet
python/big-pitch/export/ILEC_2012_19 - 20240429 (Filtered, Grouped by All Features and Synchronised Attained_Age).parquet
python/big-pitch/export/ILEC_2012_19 - 20240429 (Filtered and Grouped by All Features).parquet
python/big-pitch/export/ILEC_2012_19 - 20240429 (Filtered).parquet
python/big-pitch/input/ILEC_2012_19 - 20240429.txt
