Python/big-pitch/venv
Python/big-pitch/setup_env.bat
Python/big-pitch/setup.sh
Python/big-pitch/export/*.parquet
Python/big-pitch/export/*.pkl
Python/big-pitch/output/*.pkl
Python/big-pitch/output/*.json
Python/big-pitch/input/ILEC_2012_19 - 20240429.txt
testing
Python/build-better-base-gam/setup_env.bat
Python/build-better-base-gam/venv
Python/build-better-base-gam/export/gam_modelling_data_v2.parquet
Python/build-better-base-gam/input/*.xlsb
Python/build-better-base-gam/output/*.pkl
Python/build-better-base-gam/output/*.xlsx
Python/build-better-base-gam/export/*.parquet